.emacs.d.symlink/savefile*.
.emacs.d.symlink/var/ido.hist
.emacs.d.symlink/projectile.cache
.emacs.d.symlink/ido.last
.emacs.d.symlink/recentf
.emacs.d.symlink/elpa
.emacs.d.symlink/projectile-bookmarks.eld
.emacs.d.symlink/recentf
.emacs.d.symlink/.lsp-session*
.emacs.d.symlink/auto-saves-list
.emacs.d.symlink/autosaves
.emacs.d.symlink/ac-comphist.dat
.projectile
.DS_Store
*.elc
.#*
*~
#*
